<nav class="nav-bar">
    <div class="nav-bar__logo">
        <a href="/hangman/posts">
            <!--  <img src="/hangman/posts/assets/images/logo.png" alt="Hangman Logo"> -->
        </a>
    </div>
    <div class="nav-bar__menu">
        <ul>
            <li><a href="/hangman/posts">Home</a></li>
            <li><a href="/hangman/posts/about">Score Board</a></li>
        </ul>
    </div>
    <div class="nav-bar__user">
        <ul>
            <li><a href="/hangman/posts/login">Login</a></li>
            <li><a href="/hangman/posts/register">Register</a></li>
        </ul>
    </div>
</nav>