<nav class="nav-bar">
    <div class="nav-bar__logo">
        <a href="/hangman/posts">
            <!--  <img src="/hangman/posts/assets/images/logo.png" alt="Hangman Logo"> -->
        </a>
    </div>
    <div class="nav-bar__menu">
        <ul>
            <li><a href="/hangman/posts/" >
                <img class="nav-bar__menu-name" src="../../static/assets/images/name3.png" alt="">
            </a></li>
           <!-- <li><a href="/hangman/posts/about">Score Board</a></li>-->
        </ul>
    </div>
    <div class="nav-bar__user">
        <ul>
            <!--<li><a href="/hangman/posts/login">Login</a></li>-->
            <li><a href="/hangman/posts/register" class="logout"><img src="../../static/assets/images/logout1.svg" alt=""></a></li>
        </ul>
    </div>
</nav>